@model Shop.Models.Realestate.RealEstateDetailsViewModel

<h1>Details</h1>

<div>
    <h4>Real Estate</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Id)
        </div>

        <div class="form-group row">
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Address)
        </div>

        <div class="form-group row">
            <label asp-for="SizeSqrM" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.SizeSqrM)
        </div>

        <div class="form-group row">
            <label asp-for="RoomCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.RoomCount)
        </div>

        <div class="form-group row">
            <label asp-for="Floor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Floor)
        </div>

        <div class="form-group row">
            <label asp-for="BuildingType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.BuildingType)
        </div>

        <div class="form-group row">
            <label asp-for="BuiltInYear" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.BuiltInYear)
        </div>

        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CreatedAt)
        </div>

        <div class="form-group row">
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.UpdatedAt)
        </div>

        @foreach (var images in Model.Image)
        {
            <partial name="_Images" model="images" />
        }

    </dl>
    <hr />
    <a asp-action="index" class="btn btn-primary">Index</a>
</div>